{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}


<div class="card card-header bg-light mb-2">
  <h4>PLAYERS</h4>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="card card-body bg-light">
      <div class="form-group">
        <a href="{% url 'players-create' %}" class="btn btn-primary text-nowrap btn-block">Add player</a>
      </div>
      <form class="" method="GET">
        {{myFilter.form|bootstrap}}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="card card-body bg-light">
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col">In-game name</th>
            <th scope="col">Discord name</th>
            <th scope="col">Squad name</th>
            <th scope="col">Flags</th>
            <th scope="col">Cars</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for player in item %}
          <tr>
            <td>{{player.ingame_name}}</td>
            <td>{{player.discord_name}}</td>
            <td>{{player.squad.squad_name}}</td>
            <td>{{player.flag_set.count}}</td>
            <td>{{player.vehicle_set.count}}</td>
            <td class="text-right">
              <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExample{{player.id}}"
                role="button" aria-expanded="false" aria-controls="collapseExample{{player.id}}">
                Details
              </a>
              <a href="{% url 'players-update' player.id %}" class="btn btn-sm btn-secondary">Edit</a>
              <a href="{% url 'players-delete' player.id %}" class="btn btn-sm btn-secondary">Delete</a>
            </td>
          </tr>
          <tr class="collapse" id="collapseExample{{player.id}}">
            <td colspan="6">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card card-body">
                    <div class="form-group">
                      <strong>SteamID: </strong>{{player.steam_id}}<br>
                      <strong>Note: </strong>{{player.note}}<br>
                      <strong>Total Donations: </strong>{{player.totalDonations}}<br>
                      <strong>Created: </strong>{{player.created}}<br>
                      <strong>Modified: </strong>{{player.modified}}<br>
                      <strong>Modified by: </strong>{{player.modified_by}}<br>

                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}