{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}

<div class="card card-header bg-light mb-2">
  <h4>VEHICLES</h4>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card card-body bg-light">
      <div class="form-group">
        <a href="{% url 'vehicle-create' %}" class="btn btn-primary text-nowrap btn-block">Add vehicle</a>
      </div>
      <form class="" method="GET">
        {{myFilter.form|bootstrap}}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="card card-body bg-light">
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col">In-game name</th>
            <th scope="col">Vehicle ID</th>
            <th scope="col">Type</th>
            <th scope="col">Note</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for vehicle in item %}
          <tr>
            <td>{{vehicle.player.ingame_name}}</td>
            <td>{{vehicle.vehicle_id}}</td>
            <td>{{vehicle.vehicle_type}}</td>
            <td>{{vehicle.note}}</td>
            <td class="text-right">
              <a href="{% url 'vehicle-update' vehicle.id %}" class="btn btn-sm btn-secondary">Edit</a>
              <a href="{% url 'vehicle-delete' vehicle.id %}" class="btn btn-sm btn-secondary">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}